<nav class="navbar navbar-light bg-light">
  <p class="navbar-brand"><span>爆破</span>ToDo</p>
 <%= link_to '新規タスク', new_task_path, remote: true, class: "btn btn-outline-dark" %>
</nav>

<div id='area'>
  <%= render "index" %>
</div>

<div id="new_task_modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>